/* 积分中心 */
.integration{margin:0 auto;width:1200px;margin-top:10px;}
.hotsell {margin-top:10px;border:#e5e5e5 1px solid;}
.right_integration{width:980px;float:right;}
/* 左侧样式 */
.con_integral ul li a{color:#666;}
.con_integral ul li a:hover{color:#c40000;}
.button_y{border:none;color:#fff;curosr: pointer;padding:4px 30px;border-radius: 18px;text-align:center;border:#c40000 1px solid;margin-left:12px;margin-top:4px;}
.button_y:hover{/* color:#fff; */background:#c40000;}
.button_o{color:#666;curosr: pointer;padding:4px 30px;border-radius: 18px;text-align:center;border:#c40000 1px solid;margin-left:12px;margin-top:4px;backgground:#c40000;}
.button_x{color:#fff;curosr: pointer;padding:4px 30px;border-radius: 18px;text-align:center;border:#c40000 1px solid;margin-left:12px;margin-top:4px;}
.button_x:hover{ color:#fff;background:#c40000;}
.button_o:hover{ color:#fff;background:#c40000;}
.list_images{margin:20px 34px;}
.list_images img{width:150px;height:150px;}
.list_images p{font-size:16px;color:#666;text-align:center;padding-bottom:10px;}
.list_images .dh{font-size:12px;color:#666;text-align:center;padding-bottom:10px;}
.shop_list{width:1000px;/* height:300px; */}
.shop_list ul li{width:232px;height:300px;border:#e5e5e5 1px solid;float:left;margin-left:12px;margin-top:12px;vertical-align: middle;display: table-cell;}
.shop_list ul li:hover{display: inline-block;	*display: inline;background-color: #fff;border: 1px solid #eee;	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;	position: relative;	*zoom: 1;}.obj  box-shadow-2:before {	-webkit-transform: skew(-15deg) rotate(-6deg);	-moz-transform: skew(-15deg) rotate(-6deg);	transform: skew(-15deg) rotate(-6deg);	left: 15px;}.obj  box-shadow-2:after {	-webkit-transform: skew(15deg) rotate(6deg);	-moz-transform: skew(15deg) rotate(6deg);	transform: skew(15deg) rotate(6deg);	right: 15px;}.obj  box-shadow-2:before, .obj  box-shadow-2:after {	width: 70%;	height: 55%;	content: ' ';	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);position: absolute;bottom: 10px;z-index:-1;} */ */
.shop_list ul li:hover{border:red 1px solid;}
.commend_shop{width:1000px;border-bottom:#c40000 2px solid;padding-top:10px;padding-bottom:10px;}
.commend_shop span{font-size:18px;font-family:"寰杞榛";color:#c40000;}
.commend_shop em{float:right;font-size:12px;color:#666;}
.con_hotsell{width:200px;height:40px;line-height:40px;background:#c40000;color:#fff;font-size:14px;text-align:center;}
.con_convert{width:200px;height:35px;line-height:35px;background:#f5f5f5;color:#666;font-size:16px;text-align:center;border-bottom:#e5e5e5 1px solid;}
.con_integral{width:200px;border-bottom: #e5e5e5 1px solid;}
.con_integral ul li{width:178px;height:40px;line-height:40px;padding-left:20px;border-right:#e5e5e5 1px solid;border-top:#e5e5e5 1px solid;border-left:#e5e5e5 1px solid;text-align:left;}
/* 轮播图样式 */
*{ margin:0; padding:0; list-style:none;}
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:1007px; height:409px; margin:0px auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:190px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:190px; right:10px; z-index:10;}
#playBox .smalltitle {width:1000px; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}
