.management{background: #fff;float: left;text-align:left;width: 100%;line-height: 45px;}
.sku_two_centerd{float: left; width: 50%;  text-align:center;color: #686868;}
.sku_two_centerc{float: left; width: 27%; text-align: left; margin-left: 5%}
.management_txt{ padding:20px; line-height:40px; color: #686868}
.n_arrow a{color: #fff}
.sku_two_center{background: #fff; margin-top: -11px;float: left;text-align: center;width: 100%; padding-top: 5px;line-height: 43px;}
.listone{line-height: 45px; border-bottom: 1px solid #f6f6f6; margin-top:6px;}

.sku_two_centerc a{color: #fff;text-decoration:none; line-height: 18px;}
.mt10{margin-top: 10px;}