.title{ line-height: 40px; font-size: 14px; color: #fff; }
.title span{padding-right: 10px;}
.password_conton{ height: 250px; background: #fff}
.password_conton_two{ height: 50px; background: #fff}
.tip{font-size: 14px; padding: 5px;  line-height: 40px;}
.tip2{font-size: 12px;  line-height: 30px;color: #ababac;padding-left: 5px; padding-right: 5px;}
.password{float: left;width: 100%}
.password_ong{width: 33%;float: left; text-align: center;}
.yuandian{width:20px; height:20px; background-color:#d00e14; border-radius:25px;}
.yuandian1{height:20px; line-height:20px; display:block; color:#FFF; text-align:center}
.fs14{font-size: 14px;}
.yuandian2{width: 33%;float: left; text-align: center;}
.yuandian3{width:20px; height:20px; background-color:#ababac; border-radius:25px;}
.yuandian4{float: left;width: 100%; font-size: 14px; padding: 5px; height: 40px; line-height: 40px;}
.xiala{width: 46%; border: 1px solid #fff; line-height: 30px; height: 30px}
.xiaoyan{float: left;width: 100%;font-size: 14px; padding: 5px;height: 40px;line-height: 40px;}
.anniu{padding: 5px; background:#d00e14;color: #fff; border: 1px solid #d00e14; font-size: 12px; text-decoration: none;  margin-left: 30%}
.danxinyanzheng{line-height:40px; font-size: 14px; padding: 5px;height: 40px;}
.biaokuang{border: 1px solid #fff; color:#ababac}
.tip3{font-size: 12px;  line-height: 30px;color: #d00e14;padding-left: 5px; padding-right: 5px;}
.mt10{margin-top: 10px;}
