.management{background: #fff;float: left;text-align:left;width: 100%;margin-top:15px;line-height: 45px;}
.management_one{background:#fff; height: 50px; float: left; width: 100%; line-height: 50px; border-top: 1px solid #f6f6f6}
.sku_two_centerd{float: left; width: 10%; text-align:center;color: #686868;}
.sku_two_centerc{float: left; width: 85%; text-align: left; margin-left: 5%}
.n_arrow a{color: #fff}
.mt10{margin-top: 10px;}

