@charset "utf-8";
.backhome{width:10%; overflow:hidden; float:left; display:inline; margin-left:4%;}
.title {line-height: 40px; font-size: 14px;color: #fff;}
.title_center{text-align: center; width: 75%;color: #fff;}
.set_up{width:20px;height:22px;}
.n_arrow a{color:#fff;}
.clear {clear: both;overflow:hidden;}
.tx-in{text-indent: 3%;}
.xinxi{text-align: center; width: 75%;color: #fff;}
.pos{overflow:hidden; line-height:1.3em; color:#FFF; font-size:1.2em; margin-top: 10px;width: 53%;}
.backhome_icon{width: 10px; height: 17px; }
.share_icon{height: 20px;width: 19px;} 
.pos a{color: #fff;}
.pos ul li{ float: left;text-align: center;margin-right:16%;line-height: 30px;}
.n_arrow{width:26px; height:26px; overflow:hidden; position:absolute; top:30%; right:3%;}
.n_arrow a{width:100%; height:100%; overflow:hidden; float:left; display:block;}
/* 点击下拉 */
.nav_con{
	width:100%; overflow:hidden; background-color:#555555;  display:none;
}
.nav_con ul li{
	width:25%; height:56px; overflow:hidden; color:#FFF; font-size:12px; text-align:center; float:left;
}
.nav_con ul li a{
	width:100%; height:56px; overflow:hidden; color:#FFF; float:left; text-align:center;
}
.nav_con ul li a:hover, .nav_con ul li:hover a, .nav_con ul li.cur a{
	color:#FFF; background-color:#3a3a3a;
}
.nav_con ul li p{
	height:20px; overflow:hidden; margin:5% auto 3% auto; padding:0;
}
.nav_con ul li.b_1 p{
	background:url(../images/c_11.png) no-repeat center center;
}	
.nav_con ul li.b_2 p{
	background:url(../images/c_22.png) no-repeat center center;
}
.nav_con ul li.b_3 p{
	background:url(../images/c_33.png) no-repeat center center;
}
.nav_con ul li.b_4 p{
	background:url(../images/c_44.png) no-repeat center center;
}
