@charset "utf-8";
.integral{width:100%;height:160px;background-color:#EC4449;}
.quantity{font-size:18px;color:#fff;top:100px;left:15%;position: absolute;}
.integral_list{width:100%;background:#fff;}
.integral_list ul{padding-left: 0px;}
.integral_list ul li{list-style:none;list-style: none;clear: both;overflow: hidden;border-bottom:#e5e5e5 1px solid;}
.integral_list{margin:0 auto;}
.integral_list .list_int{width:60%;padding-top: 10px;line-height: 16px;padding-left: 10px;}
.integral_list .list_rid{padding-right:10px;}