.management{background: #fff;float: left;text-align:left;width: 100%;margin-top:15px;line-height: 45px;}
.sku_two_centerd{float: left; width: 10%; text-align:center;color: #686868;}
.sku_two_centerc{float: left; width: 85%; text-align: left; margin-left: 5%}
.management_txt{ padding:10px; line-height:40px; color: #686868}
.n_arrow a{color: #fff}
.mt10{margin-top: 10px;}

