.successful_body{ /* margin-top: 10%;  */padding: 10px;}
.successful_txt{ height: 34px;font-size: 14px; font-weight: bold; color: #d00e14;text-align:left;}
.successful_tip{ height: 50px;font-size: 14px;color: #696969; text-align:left;}
.mt10{margin-top: 10px;}