@charset "utf-8";
.bg{background:#fff;}
/* 鎵嬫満蹇�娉ㄥ唽 */
.l_iptt { width: 96%; height: 40px;line-height: 40px\9px;overflow: hidden;color: #888888;font-size:1.2em; margin-left: 2%;font-family: "Microsoft YaHei";padding: 0;border: 0;border-radius: 5px;}
.fast_registration ul li{margin-top:1%;border-bottom:1px solid #e5e5e5;}
.code-box .verification{float: right;margin-top:5px;margin-right: 3%;}
.code-box {width: 10px;height:5px;right: 0;/* border-left: 1px solid #d7d7d7; */}
.code-box img {width: 100px;height: 30px;margin-top: -.2rem; border: 1px solid transparent;}


/* 鎵惧洖瀵嗙爜 */
.textm{float: right;line-height: 40px; width: 33%;text-align: center;height: 40px;/* text-indent: 3%; */ margin-right: 3%;}

/* 鐧诲綍 */
.quick-nav{margin-top:18px;color:#888888;font-size: 12px;}
.quick-nav a:first-child {float: left;padding-left: 10px;}
.quick-nav a {color: #333;display: inline-block;-webkit-transform: translateZ(0);transform: translateZ(0);}
.quick-nav a:last-child {float: right; padding-right: 10px;}


.goods-button_h{ 
	box-shadow: 0 0 0 1px #eee;
	margin-bottom:1%;
    float: right;
    margin-right: 10px;
    width: 27%;
	padding:5px 3px;
    background:#d00e14;
    border-radius: 4px;
    text-align: center;
    background-color: #eee;
    color: #848689;
    }
.goods-button_h:hover{opacity:0.8; color: #848689;}