/* 样式初始化
--------------------------------------------------*/
/* 手机快速注册 */
.l_iptt { width: 96%; height: 40px;line-height: 40px\9px;overflow: hidden;color: #888888;font-size: 1em; margin-left: 2%;font-family: "Microsoft YaHei";padding: 0;border: 0;border-radius: 5px;}
.fast_registration ul li{margin-top:1%;}
.code-box .verification{float: right;margin-top:5px;margin-right: 3%;}
.code-box {width: 10px;height:5px;right: 0;border-left: 1px solid #d7d7d7;}
.code-box img {width: 100px;height: 30px;margin-top: -.2rem; border: 1px solid transparent;}


/*手机找回密码 1*/
.textm{float: right;line-height: 40px; width: 33%;text-align: center;height: 40px;/* text-indent: 3%; */ margin-right: 3%;border-radius: 5px;}
.fast_registrationn .verification{text-indent: 3%;color:#666;}
.fast_registrationn ul li{margin-top:1%;line-height: 42px;}
.code-box .verification{float: right;margin-top:5px;margin-right: 3%;}


/* 重置密码 */
.gistrationn{margin-left:3%;margin-right:3%;}